<nav class="navbar">
    <div class="navbar-left">
        <button class="hamburger" aria-label="Меню" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="dropdown-menu" [class.open]="menuOpen">
            <ul class="dropdown-list">
                <li><a routerLink="/">Начало</a></li>
                <li><a routerLink="/catalog">Каталог</a></li>
                <li><a routerLink="/about">За нас</a></li>
                <li><a routerLink="/contact">Контакт</a></li>
                <li><a routerLink="/questions">Въпроси и предложения</a></li>
                <li><a routerLink="/settings">Настройки</a></li>
                <li *ngIf="!isLoggedIn"><a routerLink="/login">Вход</a></li>
                <li *ngIf="!isLoggedIn"><a routerLink="/register">Регистрация</a></li>
                <li *ngIf="isLoggedIn"><a routerLink="/create-ad">Публикувай обява</a></li>
                <li *ngIf="isLoggedIn"><a routerLink="/profile">Профил</a></li>
                <li *ngIf="isLoggedIn" class="logout-link">
                    <a (click)="logout()">Изход</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-center">
        <a routerLink="/" class="logo">AutoHub</a>
    </div>
    <div class="navbar-right">
        <a routerLink="/favorites" class="favorites" title="Любими автомобили">
            <i class="fa fa-heart"></i>
        </a>
        <a *ngIf="isLoggedIn" routerLink="/my-ads" class="my-ads" title="Моите обяви">
            <i class="fa fa-list"></i>
        </a>
        <a *ngIf="isLoggedIn" routerLink="/liked-ads" class="liked-ads" title="Харесани обяви">
            <i class="fa fa-thumbs-up"></i>
        </a>
    </div>
</nav>