<nav>
    <a routerLink="/home" routerLinkActive="active">Начало</a>
    <a routerLink="/create-ad" routerLinkActive="active" *ngIf="user$ | async">Създай обява</a>
    <a routerLink="/profile" routerLinkActive="active" *ngIf="user$ | async">Профил</a>
    <a routerLink="/login" *ngIf="!(user$ | async)">Вход</a>
    <a routerLink="/register" *ngIf="!(user$ | async)">Регистрация</a>
    <button class="link" (click)="logout()" *ngIf="user$ | async">Изход</button>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
    © {{ currentYear }} AutoHub
</footer>